extends layout



block content
    h1= post.title
    h5 Written by #{author}
    p= post.body
    hr
    if user
        if user.id == post.author
            a.btn.btn-default(href='/posts/edit/'+post._id) Edit
            a.btn.btn-danger.delete-post(href='#', data-id=post._id) Delete